language: python
python: 3.7
dist: xenial

cache:
  directories:
  - "$HOME/Library/Caches/Homebrew"

env:
  global:
  - MUPDF='https://mupdf.com/downloads/archive/mupdf-1.18.0-source.tar.gz'
  - COPYFILE_DISABLE=1

jobs:
  include:
  - os: linux
    python: '3.7'
    services:
    - docker
    env:
      ARCHFLAGS: "-arch arm64 -arch x86_64"
      PIP: pip
    before_script:
    - docker pull tonistiigi/binfmt
    - docker run --privileged --rm tonistiigi/binfmt --install arm64
    - export CIBW_BEFORE_BUILD="cd mupdf && make HAVE_X11=no
      HAVE_GLFW=no HAVE_GLUT=no prefix=/usr/local install && cd .. && pip install --upgrade pip"
    - export CIBW_ENVIRONMENT='CFLAGS="-fPIC -std=gnu99"'
  - os: osx
    osx_image: xcode12.2
    language: shell
    env: PIP=pip3
    before_install:
    - brew update
    - sudo mkdir -p /usr/local/man && sudo chmod a+rw /usr/local/man
    before_script:
    - export CIBW_BEFORE_BUILD="cd mupdf && make HAVE_X11=no HAVE_GLFW=no HAVE_GLUT=no
      prefix=/usr/local install && cd .. && $PIP install --upgrade pip"
    - export CIBW_ENVIRONMENT='CFLAGS=-fPIC'

install:
#- "$PIP install git+https://github.com/joerick/cibuildwheel#egg=cibuildwheel"
- "$PIP install cibuildwheel"
- mkdir mupdf && wget -q $MUPDF -O - | tar zx -C mupdf --strip-components=1
- cp fitz/_config.h mupdf/include/mupdf/fitz/config.h

script:
- export CIBW_ARCHS_LINUX="aarch64"
- export CIBW_ARCHS_MACOS="arm64"
- export CIBW_BUILD="cp39-macosx_arm64 cp39-manylinux_aarch64"
- export CIBW_TEST_COMMAND="python -c 'import fitz;print(fitz.__doc__)'"
- cibuildwheel --output-dir wheelhouse

deploy:
  provider: pages
  token: $GITHUB_TOKEN
  keep_history: false
  skip_cleanup: true
  local_dir: wheelhouse
  repo: pymupdf/PyMuPDF-wheels
  target_branch: $TRAVIS_OS_NAME-extra
  on:
    repo: JorjMcKie/py-mupdf
